*{
    top: 0px;
   /* margin-left: 5%;
    margin-right: 5%; */
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    margin: 0px;

}
body{
    width: 100%;
    height: 220px;
    background-color: whitesmoke;
}


header{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
}
.box-nav{
    display: flex;
}
.box-nav, .box-navElements{
    justify-content: space-around;
    text-decoration: none;
    margin: 10px;
    list-style: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);

}
#contact{
    color:#00b39b;
}
main{
    margin-left: 20%;
    margin-right: 20%;
}
.box-first{
    display: block;
}
.box-logo{
    margin-left: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
}
.box-title{
    text-align: center;
    margin-top: auto;
    margin-bottom: 30px;
    color: #00b39b;
    font-weight: 200;
}
.box-text1{
    display: flex;
}
.subtext{
    margin: 13px;
    line-height: 30px;
    font-weight: 100;
}
.box-Tmain{
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
}
.box-subT{
    margin: 18px;
    font-size: 20px;
    line-height: 35px;
    width: 331.625px;
    height: 365px;
    min-height: 1px;
    size: 100px;
    padding: 20px;
    border-radius: 15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.box-subT >p{
    margin: 18px;
}
#tx{
    font-weight: bold;
    margin: 10px;
}
#green{
    color: white;
    background-color: #00ccb1;

}
#blue{
    background-color: #3d83df;
    color: white;
}
#black{
    background-color:  #1b2734;
    color: white;
}
#select1{
    margin-top: 4rem;
    font-size: 18px;
    background-color: #00ccb1;
    color: white;
    border: none;
    text-decoration: underline;
    

}
#select2{
    margin-top: 7rem;
    font-size: 18px;
    background-color: #3d83df);
    color: white;
    text-decoration: underline;
    border: none;

}
#select3{
    margin-top: 5rem;
    font-size: 18px;
    background-color: #1b2734;
    color: white;
    text-decoration: underline;
    border: none;

}
#select3B{
    font-size: 18px;
    background-color: #1b2734;
    color: white;
    text-decoration: underline;
    border: none;
}

.box-section1{
    box-sizing: border-box;
}
.box-contain{
    display: flex;
    justify-content: space-between;
}
.Su-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 160px;
    grid-template-rows: auto;
    
}
.text{
    color: #00b39b;
    font-size: 30px;
    padding: 15px;
    margin-left: 95px;
}
#take{
    width: 100px;
    margin: 10px;
    color: gray;
}
#taken{
    width: 40px;
    color: gray; 
}
.fo{
    display: flex;
}
.box-section2{
    background-color: rgba(0, 204, 177, 0.2);
    margin-left: -33%;
    margin-right: -33%;
}
.box-ny{
    display: flex;
    justify-content: center;
}
.box-sy{
    display: flex;
    flex-direction: row; 
    margin: 10px;
}
.box-no{
    background-color: white;
    margin: 10px;
    height: 250px;
    width: auto;
    border-radius: 8px; 
}
#nop{
    margin-top: 38px;
    width: 200px;
    height: 250px;
}
#nol{
    width: 200px;
    height: 250px;
    margin-top: 20px;
    padding: 20px;
}
.box-no, .no-img{
    text-align: center;
    width: 35px;
    align-items: center;
    margin: 10px;
}
.no-t{
    color: rgba(0, 204, 177, 0.5);
    font-weight: 300;
    padding: 10px;
}
.no-p{
    font-weight: 200;
    padding: 10px;
    font-size: 13px;
    color: gray;
}
.box-ty{
    display: block;
}
.ty{
    color: #00b39b;
    margin-top: 7rem;
    font-size: 38px;
    width: 50%;
    font-weight: 100;
}
.tyn{
    margin-top: 25px;
    width: 70%;
    color: gray;
    font-weight: 100;
}
.tyI{
    position: relative;
    margin-top: 2.5rem;
    position: unset;
}
.box-en{
    margin: 8rem;
    text-align: center;
}
.en{
    color: #00ccb1;
    width: 30%;
    margin: auto;
    font-size: 25px;
    font-weight: lighter;
    line-height: 35px;
    margin-bottom: 28px;
}
.enp{
    width: 37%;
    margin: auto;
    font-size: 16px;
    line-height: 26px;
    color: gray;
}
.box-gim{
    display: flex;
    width: 90rem;
    height: 70rem;
    flex-wrap: wrap;
    margin-left: 5rem;
    
    
}

.gim{
    width: 25rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}
.gim-div{
    margin: 15px;
    border-radius: 8px;
    border-left: 0.5px solid rgba(0, 0, 0, 0.2);
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.gim-div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.gimT{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    border-top: transparent;
    
}
.City{
    text-decoration: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}
a{
    text-decoration: none;
}
.gim-button{
    border: 1px;
    background-color: #3d83df;
    padding: 10px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
}
.box-os{
    margin-top: 53rem;
    height: 2rem;
}
.os{
    text-align: center;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 25px;
}

.osa{
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    margin-left: 42rem;
    background: #3d83df;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
footer{
    height: 10vh;
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
    margin-top: 11rem;
}
.foo{
    display: flex;
    margin-left: 50rem;
    margin-top: 35px;
}
.foo-pa{
    text-align: center;
    margin-left: 5px;
    font-size: 13px;
}
.foo-e{
    margin-left: 70rem;
    font-size: 13px;
    margin-top: 10px;
}

@media (max-device-width: 480px) {
    .logo-docplanner {
        width:215px
}